*~
#*
src/scripts/CMakeCache.txt
src/scripts/CMakeFiles/
src/scripts/Makefile
src/scripts/cmake_install.cmake
src/scripts/kernel*.img
src/scripts/tube-client
src/scripts/tube-client.cbp
src/scripts/releases/
src/scripts/gitversion.h
vidcore/tubevc*.asm
vidcore/tubevc*.lst
tools/vasm/obj/
tools/vasm/vasmvidcore_std
tools/vasm/vobjdump
not_in_git/
*.a1
*.snalyzerinfo
*.s1
*.a2
*.s2
*.a3
*.a4
*.a5
*.a6
*.s10
*.s11
*.s12
*.s13
*.s3
*.s4
*.s5
*.s6
*.s7
*.s8
*.s9
PiT64-cppcheck-build-dir/files.txt
PiT64.cppcheck
src/debugger/linenoiseold.c
src/scripts/cov-int/build-cwd.txt
src/scripts/cov-int/build-id.txt
src/scripts/cov-int/build-log.txt
src/scripts/cov-int/build-timings.txt
src/scripts/cov-int/BUILD.metrics.xml
src/scripts/cov-int/emit/Dominic2/config/configure-log.txt
src/scripts/cov-int/emit/Dominic2/config/e972dd14178fb13382e78f3368becedb/configure-log.txt
src/scripts/cov-int/emit/Dominic2/config/e972dd14178fb13382e78f3368becedb/coverity_config.xml
src/scripts/cov-int/emit/Dominic2/config/e972dd14178fb13382e78f3368becedb/coverity_config_created
src/scripts/cov-int/emit/Dominic2/config/e972dd14178fb13382e78f3368becedb/g++-config-0/configure-log.txt
src/scripts/cov-int/emit/Dominic2/config/e972dd14178fb13382e78f3368becedb/g++-config-0/coverity-compiler-compat.h
src/scripts/cov-int/emit/Dominic2/config/e972dd14178fb13382e78f3368becedb/g++-config-0/coverity-macro-compat.h
src/scripts/cov-int/emit/Dominic2/config/e972dd14178fb13382e78f3368becedb/g++-config-0/coverity_config.xml
src/scripts/cov-int/emit/Dominic2/config/e972dd14178fb13382e78f3368becedb/g++-config-1/configure-log.txt
src/scripts/cov-int/emit/Dominic2/config/e972dd14178fb13382e78f3368becedb/g++-config-1/coverity-compiler-compat.h
src/scripts/cov-int/emit/Dominic2/config/e972dd14178fb13382e78f3368becedb/g++-config-1/coverity-macro-compat.h
src/scripts/cov-int/emit/Dominic2/config/e972dd14178fb13382e78f3368becedb/g++-config-1/coverity_config.xml
src/scripts/cov-int/emit/Dominic2/config/e972dd14178fb13382e78f3368becedb/g++cc-config-0/configure-log.txt
src/scripts/cov-int/emit/Dominic2/config/e972dd14178fb13382e78f3368becedb/g++cc-config-0/coverity-compiler-compat.h
src/scripts/cov-int/emit/Dominic2/config/e972dd14178fb13382e78f3368becedb/g++cc-config-0/coverity-macro-compat.h
src/scripts/cov-int/emit/Dominic2/config/e972dd14178fb13382e78f3368becedb/g++cc-config-0/coverity_config.xml
src/scripts/cov-int/emit/Dominic2/config/e972dd14178fb13382e78f3368becedb/g++cc-config-1/configure-log.txt
src/scripts/cov-int/emit/Dominic2/config/e972dd14178fb13382e78f3368becedb/g++cc-config-1/coverity-compiler-compat.h
src/scripts/cov-int/emit/Dominic2/config/e972dd14178fb13382e78f3368becedb/g++cc-config-1/coverity-macro-compat.h
src/scripts/cov-int/emit/Dominic2/config/e972dd14178fb13382e78f3368becedb/g++cc-config-1/coverity_config.xml
src/scripts/cov-int/emit/Dominic2/config/e972dd14178fb13382e78f3368becedb/gcc-config-0/configure-log.txt
src/scripts/cov-int/emit/Dominic2/config/e972dd14178fb13382e78f3368becedb/gcc-config-0/coverity-compiler-compat.h
src/scripts/cov-int/emit/Dominic2/config/e972dd14178fb13382e78f3368becedb/gcc-config-0/coverity-macro-compat.h
src/scripts/cov-int/emit/Dominic2/config/e972dd14178fb13382e78f3368becedb/gcc-config-0/coverity_config.xml
src/scripts/cov-int/emit/Dominic2/emit-db
src/scripts/cov-int/emit/Dominic2/emit-db.lock
src/scripts/cov-int/emit/Dominic2/emit-db.write-lock
src/scripts/cov-int/emit/version
src/scripts/cov-int/output/version
src/scripts/cov-int/security-da-log.txt
src/scripts/cov-int/security-da-timings.txt
src/scripts/cov-int/tmp/emit-db-cache
src/scripts/cov-int/tmp/emit-db-cache.lock
src/scripts/cov-int/tu-timings.txt
src/scripts/myproject.tgz
